.App {
  text-align: center;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: cursive;
  box-sizing: border-box;
}

body {
  background-color: rgb(180, 187, 187);
  color: white;
}

.App h1 {
  margin-top: 30px;
  text-decoration: underline;
}

.format {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  width: 50%;
  height: 70vh;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: left;
  padding: 10px;
  justify-content: space-around;
  transform: translate(-50%, -50%);
  background-color: darkcyan;
  box-shadow: 0px 0px 5px black;
  border-radius: 10px;
}

.format input {
  padding: 10px 15px;
  font-size: 20px;
  margin-top: 10px;
  border: 0px;
  border-radius: 10px;
}

#btn {
  cursor: pointer;
  font-size: 20px;
  width: fit-content;
  background-color: grey;
  color: white;
  border: 0px;
  padding: 10px 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px black;
  font-weight: 600;
}

#btn:hover {
  color: grey;
  background-color: white;
}